$cream: #fefdf2;
$orange: #ff984d;
$blue: #257dcc;
$purple: #aa92e3;
$rose: #bd4553;
$pink: #ffb2ac;
$green: #9bb95a;
$lightblue: #4adada;
$vermillion: #ff3d00;
$brown: #8c6345;
$yellow: #fff8b5;
$hotpink: #ff006b;
